@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #09090b;
  color: #ffffff;
}

body {
  margin: 0;
  min-height: 100vh;
}

/* Glassmorphism Utility */
.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}
